<p *ngIf="Pokemons.length <= 0" class="no-data text-center">
	There is no pokemons added yet!
</p>
<div class="button-container">
	<button mat-fab color="primary" (click)="createPokemon()">
		<mat-icon>add</mat-icon>
	</button>
</div>
<div class="card-container">
	<div fxLayout="row wrap" fxLayoutAlign="space-evenly center">
		<mat-card
			class="pokemon-card"
			*ngFor="let pokemon of Pokemons; let i = index"
		>
			<mat-card-header>
				<div
					*ngIf="pokemon.type != 'OTHER'"
					mat-card-avatar
					class="pokemon-header-image {{ pokemon.type }}"
				></div>
				<mat-card-title>{{ pokemon.name }}</mat-card-title>
				<mat-card-subtitle>{{ pokemon.idNUM }}</mat-card-subtitle>
			</mat-card-header>
			<mat-card-content>
				<p>
					Catch:
					{{ pokemon.dateofCatch | date: "yyyy. MM. dd." }}
				</p>
				<p>
					{{
						pokemon.state.charAt(0) +
							pokemon.state.substring(1).toLowerCase()
					}}
				</p>
				<p>Type: [ {{ pokemon.type }} ]</p>
			</mat-card-content>
			<mat-card-actions>
				<button mat-button (click)="editPokemon(pokemon, i)">
					Edit
				</button>
				<button
					mat-button
					color="accent"
					(click)="removePokemon(pokemon, i)"
				>
					Delete
				</button>
			</mat-card-actions>
		</mat-card>
	</div>
</div>
