<p *ngIf="Trainer.length <= 0" class="no-data text-center">
	There are no trainers added yet!
	<mat-spinner></mat-spinner>
</p>

<div class="center">
	<mat-accordion
		*ngFor="let trainer of Trainers; let i = index"
		class="accordion-spacing"
	>
		<mat-expansion-panel
			*ngIf="trainer.isDeleted == false; else fadedOut"
			class="extension-panel-shown"
		>
			<mat-expansion-panel-header class="extension-panel-header-shown">
				<mat-panel-title>
					{{ trainer.name }}
				</mat-panel-title>
				<mat-panel-description>
					{{ trainer.address.city }} {{ trainer.address.street }}
					{{ trainer.address.house }}
				</mat-panel-description>
			</mat-expansion-panel-header>
			<p>
				Phone: {{ trainer.phoneNum }} <br />
				ID: {{ trainer.IDnum }}
			</p>
			<div *ngIf="trainer.Tournaments.length > 0">Tournamented:</div>
			<div *ngFor="let tournament of trainer.Tournaments">
				<div *ngFor="let tournamented of tournament.Tournamented">
					- {{ tournamented.title }}
				</div>
			</div>
			<button mat-button (click)="editTrainer(trainer)">
				<mat-icon>edit</mat-icon>
			</button>
			<button mat-button (click)="toggleTrainer(trainer)">
				<mat-icon>delete</mat-icon>
			</button>
		</mat-expansion-panel>
		<ng-template #fadedOut class="fadedOut">
			<mat-expansion-panel disabled class="extension-panel">
				<mat-expansion-panel-header class="extension-panel-header">
					<mat-panel-title>
						{{ trainer.name }}
					</mat-panel-title>
					<mat-panel-description>
						{{ trainer.address.city }} {{ trainer.address.street }}
						{{ trainer.address.house }}
					</mat-panel-description>
					<button mat-button (click)="toggleTrainer(trainer)">
						<mat-icon>add</mat-icon>
					</button>
				</mat-expansion-panel-header>
			</mat-expansion-panel>
		</ng-template>
	</mat-accordion>
</div>

<div class="button-container">
	<button mat-fab color="primary" (click)="createTrainer()">
		<mat-icon>add</mat-icon>
	</button>
</div>
