<h2 mat-dialog-title>Edit Trainer</h2>

<mat-dialog-content class="mat-typography">
	<form [formGroup]="editForm" class="form container">
		<mat-form-field class="form-element">
			<mat-label>Name</mat-label>
			<input
				matInput
				type="text"
				placeholder="Ash Ketchum"
				[errorStateMatcher]="matcher"
				formControlName="name"
			/>
			<mat-error *ngIf="myForm.name.errors?.required">
				Name is <strong>required</strong>
			</mat-error>
			<mat-error *ngIf="myForm.name.errors?.pattern">
				Name must start with an <strong>uppercase</strong> letter
			</mat-error>
		</mat-form-field>
		<br />
		<mat-form-field class="form-element">
			<mat-label>Age</mat-label>
			<input
				matInput
				type="text"
				placeholder="16"
				[errorStateMatcher]="matcher"
				formControlName="Num"
			/>
			<mat-error *ngIf="myForm.Num.errors?.pattern">
				Age must be a number!
			</mat-error>
			<mat-error *ngIf="myForm.Num.errors?.required">
				Age is <strong>required</strong>
			</mat-error>
		</mat-form-field>
		<br />
		<mat-form-field class="form-element">
			<mat-label>Trainer ID</mat-label>
			<input
				matInput
				type="text"
				[errorStateMatcher]="matcher"
				formControlName="IDnum"
			/>
			<mat-error *ngIf="myForm.IDnum.errors?.pattern">
				ID number must be a number!
			</mat-error>
			<mat-error *ngIf="myForm.IDnum.errors?.required">
				ID number is <strong>required</strong>
			</mat-error>
		</mat-form-field>
		<div class="address" formGroupName="address">
			<mat-form-field class="form-element">
				<mat-label>City</mat-label>
				<input
					matInput
					type="text"
					placeholder="Tokyo"
					[errorStateMatcher]="matcher"
					formControlName="city"
				/>
				<mat-error *ngIf="myForm.address.get('city').errors?.pattern">
					City must start with an <strong>uppercase</strong> letter
				</mat-error>
				<mat-error *ngIf="myForm.address.get('city').errors?.required">
					City is <strong>required</strong>
				</mat-error>
			</mat-form-field>
			<mat-form-field class="form-element">
				<mat-label>Street</mat-label>
				<input
					matInput
					type="text"
					placeholder="Hinging"
					[errorStateMatcher]="matcher"
					formControlName="street"
				/>
				<mat-error *ngIf="myForm.address.get('street').errors?.pattern">
					Street must start with an <strong>uppercase</strong> letter
				</mat-error>
				<mat-error
					*ngIf="myForm.address.get('street').errors?.required"
				>
					Street is <strong>required</strong>
				</mat-error>
			</mat-form-field>
			<mat-form-field class="form-element">
				<mat-label>House Number</mat-label>
				<input
					matInput
					type="text"
					placeholder="34"
					[errorStateMatcher]="matcher"
					formControlName="house"
				/>
				<mat-error *ngIf="myForm.address.get('house').errors?.pattern">
					House number must be a number!
				</mat-error>
				<mat-error *ngIf="myForm.address.get('house').errors?.required">
					House number is <strong>required</strong>
				</mat-error>
			</mat-form-field>
		</div>

		<br />
	</form>
</mat-dialog-content>

<mat-dialog-actions align="end">
	<button mat-button mat-dialog-close cdkFocusInitial>Cancel</button>
	<button
		mat-button
		[mat-dialog-close]="true"
		(click)="submitForm()"
		[disabled]="!editForm.valid"
	>
		Confirm
	</button>
</mat-dialog-actions>
