@import "~@angular/material/prebuilt-themes/pink-bluegrey.css";

html, body { height: 100%; }
body { margin: 0; font-family: 'lato',Roboto , "Helvetica Neue", sans-serif; }
::-webkit-scrollbar{
    width: 10px;
}

::-webkit-scrollbar-thumb{
    background: -webkit-gradient(linear, left top, left bottom, from(#bdda1b), to(#c5750d));
    box-shadow: inset 2px 2px 2px rgba(73, 66, 66, 0.2), inset -2px -2px -2px rgba(0,0,0,0.25);
}
.warn-snackbar{
    background-color: #7cb7da;
    color: rgb(20, 202, 81);
}

.fadedOut{
    color: rgba(57, 10, 88, 0.247);
}
